.App{
  background-color: #f0f0f0;
}

.container{
  display: flex;
  width: 80%;
  margin: auto;
   padding-top: 40px;
  
 
}

.container p{
  font-size: 1.667vw;
}

img{
  width: 400px;
  height: 250px;
  border-radius: 0 0 1.302vw 1.302vw;
}

/* cards */

.first-card, .second-card, .third-card {
  display: grid;
  border: solid 1px; 
  padding: 10px;
  border-radius: 1.302vw;
}

button{
  width: 50%;
  margin-bottom:10px ;
}
